<div class="my-3 text-white h-100">
  <span *ngIf="isEmptyVideo" class="fs-6">
    Sorry no video was found from your search!
  </span>
  
  <div *ngIf="isLoading" class="spinner-wrapper">
    <div class="d-flex justify-content-center align-items-center h-100">
      <mat-progress-spinner
        class="spinner"
        color="warn"
        mode="indeterminate"
        value="50"
      >
      </mat-progress-spinner>
    </div>
  </div>

  <ng-template [ngIf]="!isEmptyVideo">
    <div class="d-flex justify-content-between mb-3 align-items-center">
      <a mat-icon-button routerLink="" class="me-3">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <h3 *ngIf="searchText" class="fw-bold m-0">Search result for: {{ searchText }}</h3>
    </div>
    <div class="row g-3">
      <div *ngFor="let video of videoList" class="col-6 col-md-4 col-lg-3">
        <mat-card class="p-3 overflow-hidden">
          <a class="text-decoration-none" target="_blank" [href]="video.url">
            <img mat-card-image class="img-custom" [src]="video.snippet.thumbnails.url" [alt]="video.title">
          </a>
          <mat-card-content>
            <a class="text-white text-decoration-none" target="_blank" [href]="video.url">
              <p class="text-truncate fw-bolder fs-5" [matTooltip]="video.title">
                {{ video.title }}
              </p>
            </a>
            <div class="d-flex justify-content-between text-truncate">
              <span class="text-muted me-3">{{ getFormattedView(video.views) }} views</span>
              <span class="text-muted">{{ video.snippet.publishedAt }}</span>
            </div>
          </mat-card-content>
          <mat-card-actions class="p-0">
            <a mat-raised-button color="primary" class="w-100 py-1" (click)="url(video.url)">
              <mat-icon>download</mat-icon>
              AUDIO
            </a>
            <a mat-raised-button color="warn" class="w-100 py-1 mt-2 m-0" (click)="url(video.url)">
              <mat-icon>download</mat-icon>
              VIDEO
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ng-template>
</div>