::ng-deep {
  .spinner-wrapper {
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999 !important;
    
    .spinner {
      width: 40px;
      height: 40px;
    }
  }
  
  .filter-menu {
    border-radius: 0 !important;
    background-color: #000 !important;

    .mat-menu-content {
      padding: 0 !important;
    }

    .custom-menu-item {
      height: 38px !important;
      line-height: 38px !important;
    }

    .selected-filter {
      background-color: #fff;
      color: #000;

      &:hover, &:focus {
        background-color: #fff;
        color: #000;
      }
    }
  }  
}