<div class="d-flex justify-content-center align-items-center search-wrapper">
  <div class="w-100">
    <h2 class="fw-bolder text-white text-center mb-3">Search by video title</h2>
    <div class="d-flex justify-content-between align-items-center">
      <mat-form-field appearance="outline" class="w-100 text-white">
        <mat-label>Input to search</mat-label>
        <input matInput placeholder="Placeholder" [formControl]="ctrl" (keyup.enter)="ctrl.valid && search()">
        <mat-hint>EX: How to search?</mat-hint>
        <mat-error *ngIf="errorMessage">
          {{ errorMessage }}
        </mat-error>
        <button
          *ngIf="isValid"
          mat-icon-button
          matSuffix
          matTooltip="Click to search"
          type="button"
          (click)="search()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>